body {
  margin: 0;
  font-family: 'Genos', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat:no-repeat;
/* background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('/public/bg.jpeg'); */
  background-image: url('/public/bg.jpeg');
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  float: right;
  bottom: 0;
  left: 0;
  width: 100%;
}

.socialContainer {
    float: right;
    left:100px;
    color: white;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
  .footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items:center;
  }

  .socialContainer {
    float: right;
    left:100px;
    color: white;
    justify-content: center;
  }
}
