body {
  margin: 0;
  font-family: 'Genos', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat:no-repeat;
/* background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('/public/bg.jpeg'); */
  background-image: url('/public/bg.jpeg');
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  top: 40px;
  left: 0;
  width: 100%;
}
.footerContent {

}
